{% extends "movies/about.html" %}
{% load static %}
{% block title %}<title>О нас</title> {% endblock %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block header %}
 <h3 align="center">О НАС</h3>
    <div class="about_us">
        <h5 align="left">Компания «ГК Вёртолет» строит дома, коттеджи, бани и обустраивает придомовую территорию. К нам обращаются, чтобы заказать проект объекта под ключ или сэкономить на нём, выбрав готовый вариант с оригинальными доработками. Строим из древесины, кирпича, газобетона в Нижегородской области и ближайших регионах (в т. ч. на юге Ленинградской области).</h5><br>
        <p> Наши контакты:</p>
        <h3>Юридический адрес: 108181, г.Москва,
            ул.Усманова, д.13, помещение 112 </h3>
    </div>
    {% endblock %}
</head>
<body>
</body>
</html>