{% extends "movies/about.html" %}
{% load static %}
{% block title %}<title>О нас</title> {% endblock %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block header %}
 <h3 align="center">О нас</h3>
    <div class="about_us">
        {% for info in infos %}
        <h5 align="">{{info.textinfo}}</h5>
        {% endfor %}
        {% for famous1 in famous %}
        <h5>Наш создатель великий {{famous1.name}}</h5>
        <img src="{{famous1.image.url}}" class="Sten">
        {% endfor %}
        <p> Наши контакты:</p>
        <h3>Юридический адрес: 108181, г.Москва,
            ул.Усманова, д.13, помещение 112 </h3>
    </div>
    {% endblock %}
</head>
<body>
</body>
</html>