{% extends "movies/about.html" %}
{% load static %}
{% block title %}<title>Вход</title> {% endblock %}
    {% block header %}
<div class="form-auth">
     <div align="center" style="background-image: url({% static 'aveng.jpg' %})">
        <h3 align="center">Вход</h3>
        <div class="form-error">{{ form.non_field_errors }}</div>
             <!-- выводит сообщение  "Пожалуйста, введите правильные имя пользователя и пароль.
                     Оба поля могут быть чувствительны к регистру".-->
             <form method="post">
                 {% csrf_token %}

<!--будем перебирать элемент формы и выводить в тегах-->
             {% for f in form %}
<!--выводим в тегах-->
    <p><label class="form-label" for="{{f.id_for_label }}">{{f.label}}:</label>{{f}}</p>
<!--Отображать ошибки если они возникают-->
    <div class="form-error">{{ f.errors }}</div>
                 {% endfor %}
    <button type="submit">Войти</button>
            </form>
</div>
    {% endblock %}