{% extends "movies/about.html" %}
{% load static %}
{% block title %} <title>Детали фильма</title>{% endblock %}
{% block header %}
<div class="detail_div">
    <img src="{{ movie.poster.url }}" class="img-detail">
</div>
<div class="detail_div">
    <h3>{{ movie.title }}</h3>
    <ul>
        <li><span><b>Год:</b> {{ movie.year }}</span></li>
        <li ><span><b>Страна:</b> {{ movie.country }}</span></li>
        <li><span><b>Слоган:</b> {{ movie.tagline }}</span></li>

        <li><span><b>Режиссер:</b>
            {% for direction in movie.direction.all %}
            {{ direction.name }}
            {% endfor %}
            </span></li>
        <li><span><b>Актеры:</b>{% for actor in movie.actors.all %}
            {{ actor.name }}
            {% endfor %}
            </span></li>
        <li><span><b>Жанр:</b>{% for genre in movie.genres.all %}
            {{ genre.name }}
            {% endfor %}
            </span></li>
        <li><span><b>Премьера в мире:</b>{{ movie.world_premiere }}
            </span></li>
        <li><span><b>Бюджет:</b>${{ movie.budget }}
            </span></li>
        <li><span><b>Сборы в США:</b> ${{ movie.fees_in_usa }}
            </span></li>
        <li><span><b>Сборы в мире:</b> ${{ movie.fees_in_world }}
            </span></li>
        <a href=""><p>Рейтинг:</p>
            <span class="*1" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
            <span class="*2" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
            <span class="*3" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
            <span class="*4" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
            <span class="*5" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
            <span class="" style="outline: none; cursor: inherit;">{{ movie.rating }}8.3</span></a></li></ul>
</div>

<div><br>
    <h3 class="col-md-4 product-men">О фильме {{ movie.title }}</h3>
    <p>{% for image in movie.movieshots_set.all %}
        <img src="{{ image.image.url}}" class="img-fluid" alt="{{image.description}}">
        {% endfor %}
    </p>
    <h5 id="descriptions">{{ movie.description }}</h5>
</div>


{% endblock %}
