{% extends "movies/about.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block header %}
    {% block title %}<title>Ошибка</title>{% endblock %}
</head>
<body><br>

<link rel="stylesheet" href="{% static 'css/test.css' %}">
<h3 align="center">Запрошенная страница не найдена, но будет доступна в будущем</h3>
<h1 align="center">404 NOT FOUND</h1>
<!--<video width="1560" height="980" controls autoplay src="{% static 'tanos.mp4' %}"></video> -->
<a href="/about"><li><i class="fas fa-home"> </i> Вернуться на главную страницу </li></a>

 {% endblock %}

</body>
</html>