{% extends "movies/about.html" %}
{% load static %}
{% block title %}<title>Обратная связь</title> {% endblock %}
{% block header %}

<div align="add">
    <h3 align="center">Обратная связь</h3>
 <h3 align="center"></h3>

    <h3 align="center">{{ post }}</h3>
        <form action="{% url 'feed' %}" method="post"> <!--перенаправление url '' означает к какой форме мы должны обратиться -->
            {% csrf_token %} <!-- Защита формы от csrf атак, дублирующих сайтов, сопоставлением токенов -->
            <div class="form-error">{{ form.non_field_errors }}</div>

            {% for f in form %}
            <p><label class="formadd" for="{{ fo.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <button type="submit">Написать нам</button><br>
</form>
    </div>
        {% endblock %}
