<!DOCTYPE html><!--Определение документа-->
{% load static %} <!-- Для загрузки статики -->
<html lang="ru">
<head>
   <title>Marvel Studio</title>

    <meta charset="utf-8"> <!--Установка кодировки для корректного отображения-->
    <meta name="author" content="IT Rushan">
    <meta name="description" content="Сайт Marvel Studio">
    <meta name="Marvels, MarvelStudio, сайт Марвел" content="Сайт Marvel Studio"> <!--Теги для поиска-->

<!--Служебные теги Link для подключения CSS, JS, иконки-->
    <link rel = "shortcut icon" type="image/x-icon" href="{% static 'cap.png' %}"><!--Добавление иконки-->
    <link rel="stylesheet" href="{% static 'css/style_new.css' %}"> <!--Работает-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> <!--Работает-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all"> <!--Работает-->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"> <!--Загрузка иконок-->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
          rel="stylesheet">
    <!-- //Fonts -->
</head>

<body><!--Информация для пользователей-->

<div id="page" class="page"><!-- mian-content -->
    <div class="main-banner bg bg1" id="home"
         style="background-color: rgba(255, 255, 255, 255); margin-top: 11px; background-image: url({% static 'aveng.jpg' %})">

        <!-- header -->
        <header class="header" ><div class="container-fluid px-lg-5" >
                <!-- nav -->
                <nav class="py-4">
                    <div id="logo">
                        <h1><a href="error/" class="editContent"
                               style="outline: none; outline-offset: 2px; cursor: inherit; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(255, 255, 2, 0); font-family: &quot;Source Sans Pro&quot;, sans-serif;">Фильмы, сериалы и мультфильмы </a><br>
                        </h1>

                        <h1> MARVELS STUDIOS</h1>
                    </div>


 <style>

                h3 {
                color: black
                }
            </style>

<h6>Мстители общий сбор</h6> <audio src="{% static 'music.mp3' %}" controls > </audio>




                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop">
                    <ul class="menu mt-2">




                            <input type="checkbox" id="drop-2">
                            <ul>

                            </ul>
                        </li>


<div class="city">
    <label for="uname"> <b> Логин*</b></label>
    <input type="text" placeholder="Введите логин" name="uname" required><br>

    <label for="psw"><b> Пароль</b></label>
    <input type="password" placeholder="Введите пароль" name="psw" required><br>
<button type="submit">Войти</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Запомнить меня
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <span class="psw">Забыли <a href="#">пароль</a></span><br>

  </div><br>
                        <input type="button" align="center" value="Зарегистрироваться " onClick='location.href="http://127.0.0.1:8000/reg"'>
</form>







                        </button>
                        </li>
                    </ul>
                </nav>

                <!-- //nav -->
            </div>
        </header><br>
        <!-- //header -->
        <!--/banner-->

        <div class="banner-info"><br>
            <p class="editContent">Сайт киновселенной MARVEL STUDIOS</p><br>
            <a href="/error"><img src="{% static 'kamni.jpg'%}"align='left' alt="Главное описание" width="1200" height="290" border="0"><br>
                    <a href="/error"><img src="{% static 'Perca.jpg'%}"align='right' alt="Главное описание" width="150" height="150" border="19"><br>

                        <style>

                h4 {
                color: black
                }
            </style>


                        <h4>Собери камни и нажми на перчатку</h4><br>
        </div><br>

        <!--// banner-inner -->

    <!--//main-content-->
    <!---->


     <!-- <img src="{% static 'single-post-pi.jpg' %}" align='center' alt="" width="1200" height="670" border="8">-->


{% block head %}
<h4 align="center">ФИЛЬМЫ КИНОВСЕЛЕННОЙ МАРВЕЛ</h4>
    <!---->
    <!-- banner -->
    <section class="ab-info-main py-md-5 py-4 editContent"
             style="padding-left: 3rem; padding-right: 3rem;">
        <div class="container-fluid py-md-3">
            <div class="row">
                <div class="side-bar col-lg-3">

                    <div class="search-bar w3layouts-newsletter">
                        <h3 class="sear-head editContent">Поиск фильма</h3>
                        <form action="" method="post" class="d-flex editContent">
                            <input type="search" placeholder="Введите название..." name="search"
                                   class="form-control" required="">
                            <!--SEARCH-->
                            <button class="btn1 btn"><span class="fa fa-search"
                                                           aria-hidden="true"></span></button>
                        </form>
                    </div>
                    <!--preference -->

                    <div class="customer-rev left-side my-4">
                        <h3 class="sear-head editContent"></h3>
                        <ul class="w3layouts-box-list">

                        </ul>
                    </div><br>

                    <div class="vertical-menu">

  <a href="#" class="active">Главная страница</a>
  <a href="#">Фильмы по порядку</a>
  <a href="#">Главные антагонисты</a>
  <a href="#">Камни бесконечности</a>
  <a href="#">Опрос</a>
                        <a href="#">Покупка игрушек</a>
</div>


 <style>
    h2, p {
    color: black;
    }
     </style>

                    <!-- //reviews -->
                    <!-- deals -->

                    <!-- //deals -->

                </div>

                <!-- //product left -->
                <!-- product right -->
                <div class="left-ads-display col-lg-9">
                    <div class="row">
                        {% for movies in movie_list %}

                            <div class="col-md-4 product-men">
                                <div class="product-shoe-info editContent text-center mt-lg-4">
                                    <div class="men-thumb-item">
                                        <img src="{{ movies.poster.url }}" class="img-fluid" alt="">

                                    </div>
                                    <div class="item-info-product">
                                        <h4 class="">
                                            <a href="/{{ movie.url}}/" class="editContent">
                                                {{ movies.title }} <br>
                                             Страна:   {{ movies.country}}</a>
                                        </h4>

                                        <div class="product_price">
                                            <div class="grid-price">
                                                <span class="money editContent">Слоган: {{ movies.tagline }}</span>
                                            </div>

                                        <div class="product_price">
                                            <div class="grid-price">
                                                <span class="money editContent">{{ movies.year }} г. </span>
                                            </div>
                                        </div>

                                            <div class="grid-price">

                                            </div>
                                        </div>
                                       <style>
                                        h6 {
                                        color: black;
                                        }
                                        </style>
                                        <h6> Рейтинг фильма</h6> <ul class="stars">
                                            <li><a href="#"><span class="fa fa-star"
                                                                  aria-hidden="true"></span></a>
                                            </li>
                                            <li><a href="#"><span class="fa fa-star"
                                                                  aria-hidden="true"></span></a>
                                            </li>
                                            <li><a href="#"><span class="fa fa-star-half-o"
                                                                  aria-hidden="true"></span></a>
                                            </li>
                                            <li><a href="#"><span class="fa fa-star-half-o"
                                                                  aria-hidden="true"></span></a>
                                            </li>
                                            <li><a href="#"><span class="fa fa-star-o"
                                                                  aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                           {% endblock %}


                </div>
            </div>
        </div><br>

    <!-- //contact -->
    <!-- footer -->
    <footer class="editContent">
        <div class="container">
            <div class="row footer-top">
                <div class="col-lg-4 footer-grid_section_w3layouts">
                    <h2 class="logo-2 mb-lg-4 mb-3">
                        <a href="/error" class="editContent">
                                <span class="fa" aria-hidden="true">
                                     <h5>Сайт для фанатов Марвел</h5>
                                </span>
                        </a>
                    </h2>
                    <p class="editContent">

                    </p>
                    <h4 class="sub-con-fo ad-info my-4 editContent">Ищите нас в социальных сетях</h4>
                    <ul class="w3layouts_social_list media-soc list-unstyled">
                        <li>
                            <a href="/error" class="w3pvt_facebook editContent">
                                <span class="fa fa-facebook-f"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/error" class="w3pvt_twitter editContent">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/error" class="w3pvt_dribble editContent">
                                <span class="fa fa-dribbble"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/error" class="w3pvt_google editContent">
                                <span class="fa fa-google-plus"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 footer-right">
                    <div class="w3layouts-news-letter">
                        <h4>Контактная информация</h4>
                        <p>Нижегородская область, Краснооктябрьский район, с.Малое Рыбушкино, ул.Нагорная, 32</p>
                    </div>
                    <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">

                        <div class="col-md-4 footer-grid_section_w3layouts">
                            <!-- social icons -->
                            <div class="agileinfo_social_icons">

                                <ul class="list-unstyled w3layouts-icons">

                                </ul>

                            </div>
                            <!-- social icons -->
                        </div>

                        <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">

                            <div class="contact-info">

                                <div class="footer-address-inf">


                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <div class="cpy-right py-3">
        <div class="container">
            <div class="row">
                <p class="col-md-10 text-left">© 2022 Marvel Studios. Все права защищены |
                    <a href="/error"> by Rushan Usmanov.</a>
                </p>
                <!-- move top icon -->
                <a href="#home" class="move-top text-right col-md-2"><span
                        class="fa fa-long-arrow-up" aria-hidden="true"></span></a>
                <!-- //move top icon -->
            </div>
        </div>
    </div>
</div>

</html>
