{% extends "movies/about.html" %}
{% load static %}
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Наши кинофильмы</title>{% endblock %}
    {% block header %}
<h3 align="center">Наши кинофильмы</h3>
    <div id="movie">
        <div class="row">
            {% for movies in movie_list %}
            <div class="col-md-4 product-men">
                <img src="{{ movies.poster.url }}" id="movies">
                <div>
                    <a href="/" class="editContent">{{ movies.title }}</a>
                    <h4>Страна:   {{ movies.country}}</h4>
                        <h3><span>{{ movies.year }} г. </span></h3>
                        <span>Слоган: {{ movies.tagline }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
        {% endblock %}
 </div>
</head>
</html>