{% extends "movies/about.html" %}
{% load static %}
{% block title %}<title>Регистрация</title> {% endblock %}
{% block header %}

<div align="center" style="background-image: url({% static 'aveng.jpg' %})">
         <h3 align="center">Регистрация</h3>
         <form action="{% url 'message'%}" method="post">
             {% csrf_token %}
             {% for f in form %}
<p><label class="form-reg" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}


  <button type="submit">Регистрация</button>
</form>
</div>
    {% endblock %}