
{% extends "movies/movies.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{% block head %}
    {% load static %}
    <div id="page" class="page"><!-- mian-content -->

        <div class="main-banner bg bg1" id="home"
         style="background-color: rgba(255, 255, 255, 255); margin-top: 11px; background-image: url({% static 'aveng.jpg' %})">
    <h3 align="center">Регистрация</h3>
    <form class="form" action="" method="post">
  <input class="input" type="text" placeholder="Ваше имя">
  <input class="input" type="email" placeholder="Ваш e-mail">
  <input class="input" type="tel" placeholder="Ваш телефон">
  <input class="input" type="password" placeholder="Пароль">
  <input class="input" type="password" placeholder="Пароль еще раз">
  <button class="btn" type="submit">Регистрация</button>
</form>
    {% endblock %}
</head>
<body>





</body>
</html>