{% extends "movies/about.html" %}
{% load static %}
{% block title %}<title>Трейлеры</title>{% endblock %}
{% block header %}
<h3 align="center">Новые трейлеры 2022</h3>

<iframe width="560" height="315"
        src="https://www.youtube.com/embed/egwkeTJmT0E"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

<iframe width="560"
        height="315" src="https://www.youtube.com/embed/pmRlHhKMqyw"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

<iframe width="560"
        height="315" src="https://www.youtube.com/embed/XQvFJwqumR8"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

{% endblock %}