<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
</head>
<body>
<h1 align="center">Page not found (404)</h1>
<a href="/hello"><li><i class="fas fa-home"> </i> Вернуться на главную страницу </li></a>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
 <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Bootstrap-Core-CSS -->
    <!--/ Style-CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">

    <!--// Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<img src="{% static 'The end.jpg' %}" align='center' alt="Главное описание" width="1600" height="670" border="1">
</body>
</html>