/* БОКОВОЕ МЕНЮ */
.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: white; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #FF3A13; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

/*РЕГИСТРАЦИЯ */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #f8f8f8;
}

* {
  box-sizing: border-box;
}

.form {
  max-width: 620px;
  padding: 15px;
  margin: 20px auto;
  background-color: #fff;
}

.input {
  display: block;
  width: 100%;
  padding: 10px 26px;
  margin-bottom: 10px;

  border: 2px solid #ccc;

  font-family: inherit;
  font-size: 16px;
}

.btn {
  display: block;
  width: 100%;
  padding: 8px 10px;

  border: 4;
  background-color: #1cbc11;
  cursor: pointer;

  font-family: inherit;
  font-size: 160px;
  color: #fff;
}

.btn:hover {
  background-color: #14a20a;
}

.warning {
    border: 12px ridge white;
    background-color:;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.warning img {
    width: 30%;
}

.warning p {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
}

