* { /*редактор всего кода */
    margin: 15;
    padding: 10;
    outline: none; /* нет обводки*/
}
html{height: 100%}

body{
    width:100%;
    height:100%;
    height:100%;
    color: black;
    background: #fff;
    font-size: 0.9em; /*шрифт будет меняться в зависимости от того на каком девайсе будут заходить*/
    font-family: Arial, sans-serif;
    line-height: 150%; /* высота линий */
}


.homephoto{
    width:6%;
    margin-top:10px;
    margin-left:20px;
}
h5{
font-size:12px;
color:black;
color:black;
float: center;
}

/*********************************************FOOTER, HEADER//////////////////////////////////////////**/
header, footer {
    border-radius: 10px;
    border:0px solid black;
    width: 99%; /*на весь экран*/
    background-color:#38aafcdc; /* фон */
    min-height: 96px; /*50 пикселей */
    float: left;
    margin-top: 10px;

}

#but-search{
    border-radius:9px;}

#but-search:hover{
    background-color: #8DFFFD;
    font-size:12px;
    }

header a{
margin-left:15px;
}

header img {width:3%; float:left; margin-right: 10px; margin-left:25px; border-radius:20px;}

a{ /*цвет ссылок*/
    color: black; /*цвет ссылок*/
    font-size: 17px;
    margin-top: 10px;
    text-decoration: none; /* текст без подчеркивания*/
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}

a:hover { /*цвет при наведении*/
    color: black; /*цвет ссылок*/
    text-decoration: none; /* текст без подчеркивания*/
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
    background-color: white;


}

a:active{color:blue}

img { /* стили для изображений*/
    max-width: 100%; /* чтоб не вылезало за бло */
    height:auto;
    width: auto;
}
.imgabout{
    width:100%;
    margin-top:22px;
    height:280px;
    width: auto;
}



::selection{background: red; color:#fff} /*выделение текста*/


/*FOOTER STYLE SETTINGS ////////////////////////////////////////////////////////////////////////////*/
footer {
    border-botton: 2px solid silver;
}

footer {
    border-botton: 2px solid silver;
    margin-top: 25px; /* верхняя граница поля */
}

footer a{
    margin-left: 25px;
}

footer h5{
margin-left:16px;
}
footer img {width:9%; float:left; margin-right: 10px;} /* размер изображений в footer */

footer, #page-wrap{height:10px}
/*//////////////////////////////////////////////////////////////////////////////////////////////*/
#page-wrap {
    min-height: 94%; /* расстояние между футером и хидером */
    margin-bottom: -10px;
}

#logo  { /*редактирование главной надписи*/
    font-size: 1.0em;
    font-family: Arial, sans-serif;
    color:black;
}

#logo:hover{
    color: black;

}

.date a{
    background-color:white;
    border-radius:6px;
    border: 2px solid black;
    width:11.5%;
    }

.date a:hover{
    background-color:black;
    border-radius:2px;
    border: 2px solid black;
    width:12%;

    }

/*///////////////////////////////////О НАС////////////////////////////////////////////////////////////////**/


#Nas {
    font-size: 1.3em;
    font-family: Arial, sans-serif;
    color:black;
}

Nas:hover {
    font-size: 1.3em;
    font-family: Arial, sans-serif;
    color:white;
}

/*/////////////////////////////////ГЛАВНАЯ СТРАНИЦА////////////////////////////////////////////////////*/
#page-wrap: after{
    content='';
    display: block;
    }

#menu {
    color: black;
    font-family: Arial, sans-serif;
    font-size:1.1em;

}

#menu1 {
    color: black;
    font-family: Arial, sans-serif;
    font-size:1.1em;
}
#menu1:hover {
    background-color: #dedededc;
    border-radius: 10px;

}


#menu2 {
    color: black;
    font-family: Arial, sans-serif;
    font-size:1.1em;
    margin-left: 55px;
}
#menu2:hover {
    background-color: #dedededc;
    border-radius: 10px;

}
#menu3 {
    color: black;
    font-family: Arial, sans-serif;
    font-size:1.1em;
    margin-left: 55px;
}
#menu3:hover {
    background-color: #dedededc;
    border-radius: 10px;
}

#menu4 {
    color: black;
    font-family: Arial, sans-serif;
    font-size:1.1em;
    margin-left: 55px;
}
#menu4:hover {
    background-color: #dedededc;
    border-radius: 10px;

}

#menu5 {
    color: black;
    font-family: Arial, sans-serif;
    font-size:1.1em;
    margin-left: 55px;
}
#menu5:hover {
    background-color: #dedededc;
    border-radius: 10px;
    }

#menu6 {
    color: black;
    font-family: Arial, sans-serif;
    font-size:1.1em;
    margin-left: 55px;
}
#menu6:hover {
    background-color: #dedededc;
    border-radius: 10px;

}
#menu hr {
    width: 1150px;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    color:silver;

}

#menuHrefs {
    font-size: 1.4;
    padding: 5px;
    color: red;
    border-radius: 5px;
}


#wrapper{
    float: left;
    width: 100%;
}

#wrapper #articles{
    float: left;
    width: 80%;
    margin-left: 10%
}

#articles p{
    font-size: 19.5px;
    float: center;
    color: black;
    font-family: Impact, fantasy;
    margin-left: 30%;

}

#articles h1{
    font-size: 19.5px;
    float: center;
    color: black;
    font-family: Impact, fantasy;
    margin-left: 15%;
}

#text{
    color:blue;
    font-size:12px;
}

.feedabout{
    width:10%;
}




#wrapper #articles article{
    float: left;
    width: 31.33333%;
    border: 1px solid silver;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    margin-left: 2%;
    min-height: 400px;
}

#articles a{
    float: left;
    color: black;
    font-size:1.0em;
    padding: 5px;
}

#articles a:hover{
background-color: #edededdc;
border-radius: 12%;
}

#wrapper #articles article img{
    width:100%
    height: 200px;
    border-radius: 5px 5px 0px 0px;

}

/* Центральный блок нашего сайта */
#main_soc_block{
    width:100%;
    padding: 2% 0;
    border-bottom: 2px solid silver;
    border-top: 2px solid silver;
    margin:20 px 0;
    float: left;
    background: url("/static/aveng.jpg") repeat-x center 0;
    height: 500px;
}

#main_soc_block_in h5{
    font-size:19px;
    float:center;
    margin-left: 300px;

}


#main_soc_block_in a{
    font-size:19px;
    margin-left: 100px;
    background-color:white;
    border-radius:5px;

}

#main_soc_block_in a:hover{
    font-size:21px;
    border-radius: 5px;
    background-color: white;
    border:2px solid black;
    border-radius:13px;




}





.contact a {
    font-size: 1.1em;
    color: black;
    font-family: Arial, sans-serif;
    margin-left: 10px; /* левый отступ */
    float: right;
    margin-right:10px;
}

.contact a:hover{
    font-size: 1.2em;
    color: black;
    background-color: white;
    border-radius:10px;
}



/*классы*/
#vk img{
width:2%;
margin-top:-55px;
float: right;
margin-left:1160px;
border: 8px;
}

#vk img:hover{
border:2px solid black;
width:2.3%;
margin-top:-55px;
float: right;
margin-left:1160px;
border: 8px;
}


#insta img{
width: 2%;
margin-top:-10px;
float: right;
margin-left:1160px;
border-radius:5px;

}

#insta img:hover{

border:2px solid black;
width: 2.3%;
margin-top:-10px;
float: right;
margin-left:1160px;
border-radius:5px;

}

.left {float: left}
.clear {clear: both}






input[type=text].field{
    border-radius: 5px;
    border: 1px solid black;
    color:black;
    margin-left: 30px;

}

/*////////////////////////////////СТРАНИЧКА О НАС////////////////////////////////////////////////////*/





.about_us p{
    color: black;
    font-family: Arial, sans-serif;
    font-size:24.1px;
    margin-left: 55px;
}

.about_us h5{
    color: black;
    font-family: Arial, sans-serif;
    font-size:14.1px;
    margin-left: 55px;

}

.about_us h3{
    width: 20%;
    color: black;
    font-family: Arial, sans-serif;
    font-size:14.1px;
    margin-left: 55px;
    border: 2px solid black;
    padding: 10px;
    border-radius:5px;
}

.Sten{
    width:15%;
    margin-left:60px;
    border: 2px solid black;
    border-radius: 12px;
}


/*////////////////////////////////РЕГИСТРАЦИЯ////////////////////////////////////////////////////// */
.form {
  max-width: 620px;
  padding: 15px;
  margin: 20px auto;
  center 0;
  border-radius:12px;
}

.input {
  display: block;
  width: 100%;
  padding: 10px 26px;
  margin-bottom: 0px;
  border: 2px solid #ccc;
  font-family: inherit;
  font-size: 16px;
  border-radius: 12px;
}

.btn {
  display: block;
  width: 109%;
  padding: 8px 10px;
  background-color: #38aafcdc;
  border: 44px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  color: #fff;
  border-radius: 12px;
}

.btn:hover {
  background-color: #0896fcdc;
  font-size: 20px;
}
/*//////////////////////////////////////АВТОРИЗАЦИЯ//////////////////////////////////////////////////**/
#users{
    color: black;
    margin-left: 20px;

}

#users a{

    color:black;
    border: 2px solid black;
    border-radius: 6px;
}

#users a:hover{
    font-size:20px;
    color:black;
    border: 4px solid black;
    border-radius: 6px;
}




/*////////////////////////ОБРАТНАЯ СВЯЗЬ////////////////////////////////////////////////////////////**/
.feed {
  max-width: 620px;
  padding: 15px;
  margin: 20px auto;
  border-radius:12px;
}
#comment{
    color:black;
    width:670px;
    border-radius:12px;
    height:100px;


}

/*/////////////////////////////////////////////ВЫВОД ФИЛЬМА НА САЙТ //////////////////////////////////////////////////*/
#movies {
    height:350px;
    width:250px;
    border-radius:19px;
    margin-left: 12px;

}


#movie1 {
    width:100%;
    }




}

#country{
    margin-left:59px;
}

#title {
    width:10%;
    margin-left:30px;
}

#myContainer {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
}
#myAnimation {
    width: 50px;
    height: 50px;
    position: absolute;
    background: red;
}

/*////////////////////////////////////////////////ДЕТАЛИ ФИЛЬМА///////////////////////////////////////////**/
.detail_div{
    float:left;

}

#descriptions{
    float:left;

}

.detail_div img{
    width: 90%;
    border-radius: 15px;
    float: center;

}


#img-detail{
    width: 30%;
    border-radius: 15px;
    float: center;
}

.img-fluid {
  max-width: 15%;
  height: auto;
  border-radius: 12px;
  float: left;
  margin-top:26px;
  display: flex;
  margin: 0 5px;
}

}

#label{
    font-size: 14px;
    margin-left: 22px;
}

#comment2 {
    color:black;
    width:400px;
    border-radius:12px;
    height:100px;
    margin-left: 16px;
}

#label_detail{
    margin-left:10px;
    float:center;
}

#detail_button{
    margin-left: 30px;
}

/*///////////////////////////////////////////НОВОСТИ///////////////////////////////////////////////////*/

#kamni-news{
    width:99%;
    border-radius:19px;
    }


#newsimg{
    width:50%;

    border-radius:13px;
    margin-left: 390px;

}



/*////////////////////////////////////////КИНОФИЛЬМЫ///////////////////////////////////////////////////*/

.row {
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 19px;
}

.col-md-4 {
  width: 100%;
  min-height: 1px;
  padding-left: 90px;
}

.col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 20.333333%;
    max-width: 15.333333%;
}


.col-md-4 a {
    color:black;
    border-radius:19px;
}

#pagination{
    font-size:18px;
    display: inline-block;
	width: 50px;
	height: 34px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;

}

#pagination:hover{
    font-size:24px;
    background-color: #87CEEB;
    display: inline-block;
	width: 50px;
	height: 34px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 32px;
}

/**************************************ДОБАВИТЬ////////////////////////////////////////////////////////*/
#menu7 a{
    border:3px solid black;
    border-radius:12px;
}

#add1{

    margin-top:10px;
    width:45%;
    padding:40px;
    border-radius:9px;
    margin-left:600px;

}

#add{
    align:center;
    margin-top:10px;
    margin-left:0px;
    float:center;
    width:100%;
    background: url("/static/aveng.jpg") repeat-x center 0;

}


.form-input {
    width: 300px;
    font-size: 16px;
    border-radius:6px;
}

.form-reg {
    color:black;
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}



.formadd{
    color:black;
    display: inline-block;
    min-width: 150px;
    vertical-align: top;

}

.form-error ul {
    list-style: none;
    padding: 0;
    color: red;
}
.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

#post{
    color:red;
}

#exit{
    color:black;
    font-size:19px;
    background-color:white;
    border:2px solid black;
    border-radius:4px;
}

#exit{
    color:black;
    font-size:19px;
}

#id_clock{
    color:black;
    font-size:22px;
    width:5%;

    margin-left:20px;

}


/*//////////////////////////////////АКТЁРЫ/////////////////////////*/

#all_info{
    color:red;

    font-size:2px;
}

#all_info a{
    color:black;
    border:1px solid black;
    border-radius:4px;
    background-color:white;
    font-size:17px;
    border:
}

/*//////////////////////////////АКТЁРЫ И АКТРИСЫ//////////////////////*/

#img-actors
{
  max-width: 45%;
  height: auto;
  border-radius: 32px;
  float: left;
  margin-top:26px;
  display: flex;
  margin: 0 5px;
  margin-left: 34px;

}

/*////////////////////////////MESSAGE////////////////////////////////////*/


#message
{
   color:black;
   font-size:25px;


}

#message:hover
{
   color:black;
   font-size:25px;
   background-color:silver;
   border-radius:4px;
}


/*////////////////////////////////////Продажи//////////////////////////////////////////////////*/

#sales{
    border: 2px solid silver;
    border-radius:12px;
    margin-top:1px;

}

#sales:hover{
    border: 2px solid black;
    border-radius:12px;

}

#seriesdetimg{
    width:90%;

.a urlseries{
    font-size:12px;
    color:red;

}



/*///////////////////////////////////////////////////////////////**ОПЛАТА ТОВАРА/**/

html,
body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}
body {
  background: linear-gradient(50deg, #f3c680, hsla(179,54%,76%,1));
}


/*--------------------
Buttons
--------------------*/
.btn {
  display: block;
  background: hsl(86, 76%, 71%);
  color: hsl(0, 0, 100);
  text-decoration: none;
  margin: 20px 0;
  padding: 15px 15px;
  border-radius: 5px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;
    box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0), 0 3px 3px hsla(0, 0, 0, .2);
    border-radius: 5px;
  }

  &:hover::after {
    background: hsla(0, 0, 0, 0.1);
    box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0.2);
  }

}

/*--------------------
Form
--------------------*/
.form {

  fieldset {
    border: none;
    padding: 0;
    padding: 10px 0;
    position: relative;
    clear: both;

    &.fieldset-expiration {
      float: left;
      width: 60%;

      & .select {
        width: 84px;
        margin-right: 12px;
        float: left;
      }
    }

    &.fieldset-ccv {
      clear: none;
      float: right;
      width: 86px;
    }

    label {
      display: block;
      text-transform: uppercase;
      font-size: 11px;
      color: hsla(0, 0, 0, .6);
      margin-bottom: 5px;
      font-weight: bold;
      font-family: Inconsolata;
    }

    input,
    .select {
      width: 100%;
      height: 38px;
      color: hsl(0, 0, 20);
      padding: 10px;
      border-radius: 5px;
      font-size: 15px;
      outline: none!important;
      border: 1px solid hsla(0, 0, 0, 0.3);
      box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);

      &.input-cart-number {
        width: 82px;
        display: inline-block;
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .select {
      position: relative;

      &::after {
        content: '';
        border-top: 8px solid #222;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        position: absolute;
        z-index: 2;
        top: 14px;
        right: 10px;
        pointer-events: none;
      }

      select {
        appearance: none;
        position: absolute;
        padding: 0;
        border: none;
        width: 100%;
        outline: none!important;
        top: 6px;
        left: 6px;
        background: none;

        :-moz-focusring {
          color: transparent;
          text-shadow: 0 0 0 #000;
        }

      }
    }


  }

  button {
    width: 100%;
    outline: none!important;
    background: linear-gradient(180deg, #49a09b, #3d8291);
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    box-shadow: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 90px;

    & .fa {
      margin-right: 6px;
    }
  }

}

/*--------------------
Checkout
--------------------*/
#checkout {
  margin: 150px auto 30px;
  position: relative;
  width: 460px;
  background: white;
  border-radius: 15px;
  padding: 160px 45px 30px;
  box-shadow: 0 10px 40px hsla(0, 0, 0, .1);
}

/*--------------------
Credit Card
--------------------*/
.credit-card-box {
  perspective: 1000;
  width: 400px;
  height: 280px;
  position: absolute;
  top: -112px;
  left: 50%;
  transform: translateX(-50%);

  &:hover .flip,
  &.hover .flip {
    transform: rotateY(180deg);
  }

  .front,
  .back {
    width: 400px;
    height: 250px;
    border-radius: 15px;
    backface-visibility: hidden;
    background: linear-gradient(135deg, #bd6772, #53223f);
    position: absolute;
    color: #fff;
    font-family: Inconsolata;
    top: 0;
    left: 0;
    text-shadow: 0 1px 1px hsla(0, 0, 0, 0.3);
    box-shadow: 0 1px 6px hsla(0, 0, 0, 0.3);

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url('http://cdn.flaticon.com/svg/44/44386.svg') no-repeat center;
      background-size: cover;
      opacity: .05;
    }
  }

  .flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }

  .logo {
    position: absolute;
    top: 9px;
    right: 20px;
    width: 60px;

    svg {
      width: 100%;
      height: auto;
      fill: #fff;
    }
  }

  .front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  .back {
    transform: rotateY(180deg);

    .logo {
      top: 185px;
    }

  }

  .chip {
    position: absolute;
    width: 60px;
    height: 45px;
    top: 20px;
    left: 20px;
    background: linear-gradient(135deg, hsl(269,54%,87%) 0%,hsl(200,64%,89%) 44%,hsl(18,55%,94%) 100%);;
    border-radius: 8px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: 4px solid hsla(0, 0, 50, .1);
      width: 80%;
      height: 70%;
      border-radius: 5px;
    }
  }

  .strip {
    background: linear-gradient(135deg, hsl(0, 0, 25%), hsl(0, 0, 10%));
    position: absolute;
    width: 100%;
    height: 50px;
    top: 30px;
    left: 0;
  }

  .number {
    position: absolute;
    margin: 0 auto;
    top: 103px;
    left: 19px;
    font-size: 38px;
  }

  label {
    font-size: 10px;
    letter-spacing: 1px;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: normal;
    opacity: 0.5;
    display: block;
    margin-bottom: 3px;
  }

  .card-holder,
  .card-expiration-date {
    position: absolute;
    margin: 0 auto;
    top: 180px;
    left: 19px;
    font-size: 22px;
    text-transform: capitalize;
  }

  .card-expiration-date {
    text-align: right;
    left: auto;
    right: 20px;
  }

  .ccv {
    height: 36px;
    background: #fff;
    width: 91%;
    border-radius: 5px;
    top: 110px;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
    color: #000;
    text-align: right;
    padding: 10px;

    label {
      margin: -25px 0 14px;
      color: #fff;
    }
  }


}


.the-most {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 50vw;
  max-width: 200px;
  padding: 10px;

  img {
    max-width: 100%;
  }
}
